name: Security Static Analysis

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install tools
      run: |
        pip install bandit semgrep pip-audit

    - name: Bandit (detect only)
      run: bandit -r . -ll || true


    - name: Semgrep (generic SAST)
      run: semgrep --config=auto .

    - name: Dependency vulnerabilities
      run: pip-audit || true
